h1{
    text-align: center;
}
#innerbox1{
    background-color:#E3E4E7;
    margin-left:20%;
    margin-right:20%;
}
#innerbox2{
    background-color:#FAA238;
    margin-left:20%;
    margin-right:20%;
}
input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-weight: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=display]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    font-weight: 1000;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #result
    {
        margin-left: 60%;
        margin-bottom: 1%;
        background: #A3BFD9;
        border: 1px solid #000000;
        size: 10%;
        font-size: 140%;
    }
    @media only screen and (max-width: 550px)
        {
            #result
            {
                margin-left: 30%;
                margin-right: 10%;
                margin-bottom: 1%;
                background: #A3BFD9;
                border: 1px solid #000000;
                size:0%;
                font-size: 60%;
            }  
         }
    @media only screen and (max-width: 150px)
    {
        #result
            {
                margin-left: 30%;
                margin-right: 10%;
                margin-bottom: 1%;
                background: #A3BFD9;
                border: 1px solid #000000;
                size:0%;
                font-size: 20%;
            }  
    }
    #error{
        display:none;
        width:50%;
        background-color:#EDEDED;
        font-weight: 800;
    }
    #err{
        display: none;
    }